section[name=product-page] form.product {
    padding: 10px;
    background-color: silver;
    border-radius: 15px;
}
section[name=product-page] div.w-100 {
    height: 50px !important;
}

section[name=product-page] button#add-product {
    border-radius: 6px;
    border: aliceblue;
    float: right;
}
section[name=product-page] div.description {
    height: 20vh;
    overflow: auto;
}
    section[name=product-page] div.description .float-left {
        float:left;
    }