section[name=product-page] form.product {
    padding: 10px;
    background-color: silver;
    border-radius: 15px;
    /*margin: 0px 10px 0px 10px;*/
}
section[name=product-page] div.w-100 {
    height: 50px !important;
}

section[name=product-page]  {

}