body {
    padding-top: 50px;
}

h1 {
    color: #007bff;
}

input[type="password"] {
    font-family: inherit; 
    visibility: visible; 
}

form {
    background-color: silver;
}

span.mandatory {
    color: red;
}