body {
    /*padding-top: 50px;*/
}

h1 {
    color: #007bff;
}

input[type="password"] {
    font-family: inherit; 
    visibility: visible; 
}

form {
    background-color: silver;
}

span.mandatory {
    color: red;
}

div.categories {
    position: fixed;
    /*margin-top: 50px;*/
    background: white;
    border: 1px black solid;
    text-align: left;
}
    div.categories ul.navbar-collapse.collapse.show {
        list-style-type: none;
        padding: 10px;
        margin: 0px;
    }

div.text-center {
    margin: 0px 15px 0px 15px
}

div.search-bar-and-button {
    display: inline-flex;
}
